<!-- Views/Product/Index.cshtml -->
@model List<myCoreProjectNew.Models.Product>
@{
    ViewData["Title"] = "Product Page";
}
<h1>Product List</h1>
<a asp-action="Create">
    <button class="btn btn-info">Create New </button>
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id"><button class="btn btn-info">Edit</button></a> |
                    <a asp-action="Delete" asp-route-id="@product.Id"><button class="btn btn-danger"> Delete </button> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

